# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual env
.venv/

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/*
!outputs/README.markdown

# Data (do not commit)
data/*
!data/README.markdown

# OS
.DS_Store
Thumbs.db
